<%= stylesheet_link_tag :showtimes %>
<%= @user.username %>
<%= @user.points %> Points

<% @user.showtimes.each do |showtime| %>
<p>Showtime: <%= showtime.movie_time %></p>
<p>$<%= showtime.ticket_cost %></p>
<% end %>
